.Login {
    max-width: 500px;
    margin: 10vh auto 30vh auto;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    background: #b6c1b6;
    height: 45vh;

}
.Login__close {
    margin-left: auto;
}
.Login__form {
    width: 100%;
}
.Login__title {
    text-align: center;
    font-size: 24px;
    margin: 5px;
}
.Login__btn {
    background: lightgreen;
    border: none;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 6px 1px black;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto;
}
.Login__navlink {
    background: lightgreen;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 6px 1px black;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}